<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>The Frozen North - <%= current_page.data.title %></title>

<%= favicon_tag 'favicon-32x32.png' %>
<link rel="manifest" href="images/site.webmanifest">

<% # TODO: Only show this tag on the home page %>
<meta name="google-site-verification" content="tagMcA8Eff8PDrhb1mtbC9alW0wHrG8BeUtliB_UqFM" />

<%= stylesheet_link_tag "application" %>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />