---
title: Ability Benefits
---

<h4>Charisma</h4>
<hr>
<ul>
    <li>This directly influences merchant and gold prices.</li>
    <li>Tip: Wear charisma gear or apply charisma buffs before buying and selling items to a merchant to increase profit. Some players have a dedicated character that focuses on charisma and appraise to get the best prices.</li>
</ul>

<h4>Wisdom</h4>
<hr>
<ul>
    <li>This directly influences your experience gained. 9 and under decreases XP, while 11 and above increases.</li>
    <li>Tip: It is always a good idea to use an Owl's Wisdom buff before turning in quests or killing a bunch of enemies to maximize XP gain.</li>
</ul>