---
title: Class Features
---

<h4>Champion of Torm</h4>
<hr>
<p>Divine wrath now lasts half a turn per charisma modifier. (TODO: Make this a class quest for this functionality)</p>

<h4>Sorcerers and Wizards</h4>
<hr>
<p>Familiars have been reworked. Don't rely on the stats when choosing a familiar on the level up screen. If you are not satisfied with your familiar, you can change it for free by talking to Eltoora at the Cloaktower in Neverwinter.</p>


<h4>Rangers and Druids</h4>
<hr>
<p>Having at least one class in either ranger or druid will reduce the chance of a resting ambush. This is also applied party wide.</p>
<p>Animal Companions have been reworked. Don't rely on the stats when choosing an animal companion on the level up screen. If you are not satisfied with your animal companion, you can change it for free by talking to Nyatar at the Great Tree in Neverwinter.</p>

<h4>Monks</h4>
<hr>
<p>Quarterstaves and shurikens now count as monk weapons alongside kamas.</p>

<h4>Shadowdancers</h4>
<hr>
<p>Hide in Plain Sight has a cooldown of 9 seconds.</p>