---
title: Feat Changes
---

<h4>Divine Wrath</h4>
<hr>
<ul>
    <li>Now lasts half a turn per charisma modifier. (TODO: Add a quest to get this functionality)</li>
</ul>

<h4>Divine Might, Divine Shield</h4>
<hr>
<ul>
    <li>Now lasts 1 turn, plus Cha mod rounds. (TODO: Add a quest to get this functionality)</li>
</ul>

<h4>Hide in Plain Sight</h4>
<hr>
<ul>
    <li>There is a 9 second cooldown.</li>
</ul>

<h4>Turn undead</h4>
<hr>
<ul>
    <li>Evil clerics and blackguards can dominate undead instead of destroying them. They can only control a total number of undead with a combined HD equal to or less than their combined cleric/blackguard level.</li>
</ul>

<h4>Brew Potion, Craft Wand, and Scribe Scroll</h4>
<hr>
<ul>
    <li>You can buy the necessary materials from Eltoora in the Cloaktower.</li>
    <li>XP is no longer sacrificed in creation.</li>
</ul>

<h4>Weapon Focus/Weapon Specialization Unarmed Strikes</h4>
<ul>
    <li>Now applies to creature attacks.</li>
</ul>