---
title: Skill Usage
---

<h4>Bluff</h4>
<hr>
<ul>
    <li>Used to gain access to restricted areas.</li>
    <li>Used to complete a bounty instantly. Bounties completed in this fashion only reward half the XP.</li>
</ul>

<h4>Persuade</h4>
<hr>
<ul>
    <li>Used in most services to get a discount.</li>
    <li>Used to persuade more than one henchman or follower to join your party.</li>
    <li>Tip: Always try the persuade option before paying full price - who knows, you might get a lucky roll and save yourself some coin.</li>
</ul>

<h4>Appraise</h4>
<hr>
<ul>
    <li>Has a direct influence on merchant prices.</li>
</ul>

<h4>Disable Trap</h4>
<hr>
<ul>
    <li>Disabling or recovering a trap now rewards XP, based on the difficulty of the trap.</li>
</ul>

<h4>Pick pocket</h4>
<hr>
<ul>
    <li>Most NPCs and humanoids can be pick pocketed for additional loot.</li>
    <li>Loot you can get from pick pocket do not drop on death, so it may be wise to pick pocket an enemy before killing them.</li>
    <li>If you have angered some townsfolk or guards by pick pocketing, exiting the area should reset their hostility.</li>
    <li>Players are immune to pick pocket.</li>
</ul>

<h4>Ride</h4>
<hr>
<ul>
    <li>30% spell failure while mounted. Spell failure reduced by 10% for every 5 ranks of the Ride skill.</li>
    <li>Mount speed is influenced by this skill.</li>
</ul>