---
title: Skill Usage
---

<h4>General</h4>
<hr>
<ul>
    <li>Area of effect spells do not stack. However, they may overlap if they are not placed on top of each other.</li>
    <li>Weapon buff spells work with range weapons, ammunition, and gloves, but does not stack with each other.</li>
    <li>Damage shield spells do not stack.</li>
</ul>

<h4>Bull's Strength, Cat's Grace, Endurance, Fox's Cunning, Owl's Wisdom, Eagle's Splendor</h4>
<ul>
    <li>Only one can be active per character at once.</li>
    <li>Exception are those cast by the Harper Scout and Blackguard class feats, which will stack if they are cast first.</li>
</ul>

<h4>Aid and Bless</h4>
<ul>
    <li>Does not stack with each other.</li>
    <li>Bless does not affect the caster.</li>
</ul>

<h4>Bigby's Forceful Hand</h4>
<ul>
    <li>Strength modifier is now 9.</li>
</ul>

<h4>Circle of Death</h4>
<ul>
    <li>Level 9 immunity cap removed.</li>
</ul>

<h4>Divine Favor</h4>
<ul>
    <li>Scales every four levels.</li>
</ul>

<h4>Divine Favor, Divine Power, Prayer, Battletide</h4>
<ul>
    <li>Does not stack. If one buff is added, all others are removed.</li>
</ul>

<h4>Shield of Faith, Magic Vestment (Armor), Magic Vestment (Shield)</h4>
<ul>
    <li>Does not stack. If one buff is added, all others are removed.</li>
    <li>Magic vestment scales every four levels.</li>
</ul>

<h4>Flame Weapon and Darkfire</h4>
<ul>
    <li>Static 1d4 fire damage.</li>
</ul>

<h4>Darkfire</h4>
<ul>
    <li>Static 1d6 fire damage.</li>
</ul>

<h4>Greater Magic Weapon</h4>
<ul>
    <li>Static +2 enhancement.</li>
</ul>

<h4>Greater Sanctuary</h4>
<ul>
    <li>Now lasts in rounds and has a diminishing return, capped at 25%. This is cleared on rest.</li>
</ul>

<h4>Knock</h4>
<ul>
    <li>Ability Modifier + Spell Level + Spell Focus + d20 vs Unlock DC.</li>
</ul>

<h4>Find Traps</h4>
<ul>
    <li>Ability Modifier + Spell Level + Spell Focus + d20 vs Disarm DC.</li>
    <li>Traps will always be shown, regardless of a successful disarm check.</li>
</ul>

<h4>True Seeing</h4>
<ul>
    <li>True sight replaced with +20 to Spot, Search, See Invisibility, and Ultravision.</li>
</ul>

<h4>Polymorph Self</h4>
<ul>
    <li>Zombies gain full undead properties, a +1 club, and have 5 physical resistance instead of 10.</li>
    <li>Umber Hulks gain confusion gaze but loses true seeing.</li>
    <li>Pixies gain Tasha's Hideous Laughter, lesser dispel magic, 16 spell resistance, and a +1 dagger.</li>
    <li>Spiders gain web bolt, immunity to web, and immunity to mind-affecting spells.</li>
    <li>Trolls are now 50% more vulnerable to acid and fire.</li>
    <li>Items are now merged.</li>
</ul>

<h4>Raise Dead</h4>
<ul>
    <li>Can revive players that have been revived too many times by the party revival mechanic as well as clear party revival constitution damage.</li>
</ul>