---
title: Server Rules
---

<p>When playing on the official server, there aren't a lot of rules, nor do I want there to be. All I ask for if you play on the server is to be a decent human being. Therefore:</p>

<ol>
    <li>No <b>griefing or trolling</b>.</li>
    <li>No <b>forcing of other players to roleplay</b>.</li>
    <li>No <b>erotic, sexual, or obscene content</b>.</li>
    <li>No <b>PvP without consent</b>.</li>
    <li>No <b>exploiting or hacks</b>.</li>
</ol>