---
title: World Information
---

<p>This is a low magic server. RP is optional.</p>
<p>You will find yourself in Neverwinter, amid the chaos of the Wailing Death, in a reimagining of the original campaign. Beyond the walls of Neverwinter, there are also ways to reach some areas from the official expansions. The adventures in this world are based around official content, mainly Neverwinter and the surrounding areas, with stories and locations from the original campaign, Hordes of the Underdark, Neverwinter Nights 2, Icewind Dale, and much more.</p>
<p>Expect to find yourself questing and clearing dungeons and visiting familiar places.</p>

<h2>Tactical Encounters</h2>
<hr>
<p>This server is heavily inspired from a server in 1.69 called "3 Towns". The encounters in this server are based off of that, as you will encounter challenging parties of melee warriors, ranged archers, and even spellcasting mages that you will have to deal with in your adventure.</p>
<p>In places of great danger, you may need to not only be stocked up with potions, healing kits, and perhaps henchman or two, but also resort to tactics such as pulling enemies one by one or preventing their friends from getting line of sight and coming to their aid. Ranged attackers will try to keep their distance and kite their enemies, while casters may try to crowd control or stun the enemy so their friends can overpower them. Enemy healers that patch up and buff their friends. Casters will take advantage of summons and familiars as well.</p>

<h2>Balanced and hand-crafted Loot</h2>
<hr>
<p>The loot in this server has been heavily balanced and modified. A lot of servers use completely random items with affixes and prefixes. In fact, those servers tend to use it for all of their items.</p>
<p>We do not believe in using that, as all you get is an item without much meaning or story. With randomly generated items, you will never get close to a weapon that fine-tuned and hand-tailored. As such, we have faithfully re-created items from classics such Baldur's Gate, Planescape: Torment, and other cRPG classics with their matching description and flavor text.</p>

<%= image_tag 'ankeg_armor.png', class: 'img-fluid mb-2' %>

<p>They have also been created and tweaked in mind with maintaining a balance in the server and making all classes be useful, so you won't get a Golden Circlet with mind-immunity, but one with improved saving throws vs. mind affecting spells. There's over <b>1200+ unique items</b>.</p>
<p>Since the server is balanced for level 12, the maximum enhancement bonus is +3 and has the goal of low magic. You will not encounter items with immunities here, nor item properties that can invalidate a class, such as permanent Haste, True Seeing, Improved Evasion, etc.</p>

<h2>Abilities and Skills</h2>
<hr>
<p>All skills and abilities should be useful in this server. Here are a few examples:</p>

<ul>
    <li>Appraise and Charisma directly affects merchant prices.</li>
    <li>Persuade can be used in many services and situations to either reduce a price or convince an NPC to join you.</li>
    <li>Wisdom has an influence on the amount of XP gained.</li>
    <li>Pick pocket can be used on most creatures.</li>
</ul>

See <%= link_to 'mechanics', 'mechanics' %> for more information.